/* rem and em do NOT depend on HTML font size in media queries 
Instead, 1rem = 1em = 16px */

/*****************************************/ 
/* Smaller Laptops: Below 1344px */
/*****************************************/ 
/*  1350 / 16 = 84  */
@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

/*****************************************/ 
/* Landscape Tablets: Below 1200px */
/*****************************************/ 
/*  1200 / 16 = 75  */
@media (max-width: 75em) {
  html {
    /* 9px / 16px = 56.25% */
    font-size: 56.25%;
  }

  grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }
}

/*****************************************/ 
/* Tablets: Below 944px*/
/*****************************************/ 
/*   944 / 16 = 59  */
@media (max-width: 59em) {
  html {
    /* 8px / 16 = 50% */
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-img {
    width: 60%;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .logos img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .cta {
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  /*****************************************/ 
  /* MOBILE NAVIGATION */
  /*****************************************/ 
  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    background-color: rgb(255, 255, 255, 0.95);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    /* Mobile navigation slide in transition */
    /* style.css --> body {overflow-x: hidden} */
    /* style.css --> header {position: relative} */
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.5s ease-in;

    /* Hide navigation */
    /* Does not allow transitions */
    /* display: none; */

    /* 1. hide it visually */
    opacity: 0;
    /* 2. make it unaccessible to mouse and keyboard */
    pointer-events: none;
    /* 3. hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;

    /* Mobile navigation slide in transition */
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}

/*****************************************/ 
/* Smaller Tablets: Below 704px */
/*****************************************/ 
/*   704 / 16 = 44  */
@media (max-width: 44em) {
    
    .grid--3-cols,
    .grid--4-cols {
        grid-template-columns: 1fr 1fr;
    }

    .diets {
        /* center & span across entire grid */
        grid-column: 1 / -1;
        justify-self: center;
    }

    .heading-secondary {
        margin-bottom: 4.8rem;
    }

    .pricing-plan {
        width: 100%;
    }

    .grid--footer {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .nav-col {
        grid-row: 1;
        grid-column: span 2;
        margin-bottom: 3.2rem;
    }

    .logo-col,
    .address-col {
        grid-column: span 3;
    }
}

/*****************************************/ 
/* Mobile: Below 544px */
/*****************************************/ 
/*   544 / 16 = 34  */
@media (max-width: 34em) {

    .grid {
        row-gap: 4.8rem;
    }

    .grid--2-cols,
    .grid--3-cols,
    .grid--4-cols {
        grid-template-columns: 1fr;
    }

    .section-hero {
        padding: 2.4rem 0 6.4rem 0;
    }
    .hero {
        padding: 0 3.2rem;
    }

    .hero-img {
        width: 80%;
    }

    .btn,
    .btn:link,
    .btn:visited {
        padding: 2.4rem 1.6rem;
    }

    .logos img {
        height: 1.2rem;
    }

    .step-img-box:nth-child(2) {
        grid-row: 1;
    }

    .step-img-box:nth-child(6) {
        grid-row: 5;
    }

    .testimonials {
        grid-template-columns: 1fr;
    }

    .gallery {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1.2rem;
    }

    .cta {
        grid-template-columns: 1fr;
    }

    .cta-text-box {
        padding: 3.2rem;
    }

    .cta-img-box {
        height: 32rem;
        grid-row: 1;
    }

}